src/main/mule/wsc-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="wsc-implementation-httpListenerConfig">
        <http:listener-connection host="${host}" port="${port}" />
    </http:listener-config>
    <apikit:config name="wsc-implementation-config" api="wsc-implementation.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="af541a3c-6152-42ea-92a6-59eae9646f76">
        <wsc:connection wsdlLocation="${wsdl.location}" service="SOAPDemo" port="SOAPDemoSoap" address="${wsdl.address}" />
    </wsc:config>
    <flow name="wsc-implementation-main">
        <http:listener config-ref="wsc-implementation-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="wsc-implementation-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="wsc-implementation-console">
        <http:listener config-ref="wsc-implementation-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="wsc-implementation-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\AddInteger:wsc-implementation-config">
        <logger level="INFO" message="get:\AddInteger:wsc-implementation-config" />
		<ee:transform doc:name="Transform Message" doc:id="8728ae0d-b16c-4d99-8d93-c3c118021366">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns tem http://tempuri.org
---
{
	tem#AddInteger:{
		tem#Arg1: payload.Arg1 default 1,
		tem#Arg2: payload.Arg2 default 1
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<wsc:consume doc:name="Consume" doc:id="07d4e239-3f97-48a6-a694-16b9e3464dbf" config-ref="Web_Service_Consumer_Config" operation="AddInteger" />
		<set-payload value="#[payload.body]" doc:name="Set Payload" doc:id="02b6047f-3f00-4668-9a84-a65dceaed35f" />
		<logger level="INFO" doc:name="Logger" doc:id="6f8b8fe5-af2f-4287-ad72-8bacb58520eb" message="Response from web service: #[payload]" />
    </flow>
    <flow name="get:\DivideInteger:wsc-implementation-config">
        <logger level="INFO" message="get:\DivideInteger:wsc-implementation-config" />
		<ee:transform doc:name="Transform Message" doc:id="efab2400-f862-441d-9331-32fb0d5c6881" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns tem http://tempuri.org
---
{
	tem#DivideInteger: {
		tem#Arg1: payload.Arg1 default 1,
		tem#Arg2: payload.Arg2 default 1
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="DivideInteger" doc:name="Consume" doc:id="906101ea-bfca-428b-a0f6-6504104cab17" config-ref="Web_Service_Consumer_Config"/>
		<set-payload value="#[payload.body]" doc:name="Set Payload" doc:id="e26f79e4-7f81-423c-97f4-b13d98a8296e" />
		<logger level="INFO" doc:name="Logger" doc:id="00be341e-0e88-4003-90a4-e71b937868eb" message="Response from web service: #[payload]"/>
    </flow>
    <flow name="get:\GetByName:wsc-implementation-config">
        <logger level="INFO" message="get:\GetByName:wsc-implementation-config" />
		<ee:transform doc:name="Transform Message" doc:id="88fe2853-06d1-4c49-9324-2ba957d2e6eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns tem http://tempuri.org
---
{
	tem#GetByName: {
		tem#name: payload.Name default "John"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="61f8a120-887e-44cd-810a-e8c39f053109" config-ref="Web_Service_Consumer_Config" operation="GetByName"/>
		<ee:transform doc:name="Transform Message" doc:id="bc46c332-7582-4224-818d-50cc45403578" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="d4139af8-f34b-4d27-a878-a5e8f9850f67" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns diffgr urn:schemas-microsoft-com:xml-diffgram-v1
---
response: {
	ID: payload.GetByNameResponse.*GetByNameResult.diffgram.*ListByName.*SQL.ID,
	Name:payload.GetByNameResponse.*GetByNameResult.diffgram.*ListByName.*SQL.Name,
	DOB: payload.GetByNameResponse.*GetByNameResult.diffgram.*ListByName.*SQL.DOB,
	SSN: payload.GetByNameResponse.*GetByNameResult.diffgram.*ListByName.*SQL.SSN,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2fd893ce-0a65-47d2-bde3-34e4153c45df" message="Response from web service: #[payload]"/>
    </flow>
    <flow name="get:\GetDataSetByName:wsc-implementation-config">
        <logger level="INFO" message="get:\GetDataSetByName:wsc-implementation-config" />
		<ee:transform doc:name="Transform Message" doc:id="c9803b0c-da86-4486-ab21-c0a4751fe6ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns tem http://tempuri.org
---
{
	tem#GetDataSetByName: {
		tem#name: payload.Name default "John"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="9a6cf289-aa04-455e-b71b-e68b006b3e78" config-ref="Web_Service_Consumer_Config" operation="GetDataSetByName"/>
		<ee:transform doc:name="Transform Message" doc:id="b242dfea-35bb-4bf3-afbd-2dd16681aed2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="d918120d-bfdb-4fdb-b5ea-b81d33b828d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns diffgr urn:schemas-microsoft-com:xml-diffgram-v1
---
response: {
	ID: payload.GetDataSetByNameResponse.*GetDataSetByNameResult.diffgram.*ByNameDataSet.*ByName.ID,
	Name:payload.GetDataSetByNameResponse.*GetDataSetByNameResult.diffgram.*ByNameDataSet.*ByName.Name,
	DOB: payload.GetDataSetByNameResponse.*GetDataSetByNameResult.diffgram.*ByNameDataSet.*ByName.DOB,
	SSN: payload.GetDataSetByNameResponse.*GetDataSetByNameResult.diffgram.*ByNameDataSet.*ByName.SSN,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9a5f7fed-0191-4d6c-8fbb-1490cd702f46" message="Response from web service: #[payload]"/>
    </flow>
</mule>
